DOMAIN_NAME=login.42.fr

WP_DATABASE=wordpress
WP_DB_HOST=mariadb
WP_USER=wp_user
WP_PASSWORD=change_me

WP_ADMIN=admin_login
WP_ADMIN_EMAIL=admin@example.com
WP_ADMIN_PASSWORD=change_me

WP_USER_PASSWORD=change_me
