# Ignore secrets and local configuration files
../../secrets
<!-- ../../.env -->

# Ignore temporary and backup files
*.log
*.tmp
*~
__pycache__/
*.pyc
*.pyo
*.swp

# Ignore folders not required for the container build
# Only include tools/ if it is copied in the Dockerfile
tools/
